.cont {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 12vh;
  padding: 20px;
}

.head {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.scrollable-container {
  display: flex;
  justify-content: center;
  position: relative;
  left: 5vw;
  width: 90%;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.person-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.left-column {
  justify-self: start;
}

.right-column {
  justify-self: end;
}

.sorting {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}